body {
	/*background: #fefefe;*/
			
			background: -webkit-linear-gradient(90deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), -webkit-linear-gradient(0deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), -webkit-linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), -webkit-linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgb(34, 102, 153);
			background: linear-gradient(0deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), linear-gradient(90deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgb(34, 102, 153);
			background-position: -1px -1px;
			-webkit-background-origin: padding-box;
			background-origin: padding-box;
			-webkit-background-clip: border-box;
			background-clip: border-box;
			-webkit-background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px;
			background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px;
			-webkit-box-shadow: none;
			
			-webkit-transition: none;
			transition: none;
			-webkit-transform: none;
			-o-transform: none;
			transform: none;
			-webkit-transform-origin: 50% 50% 0;
			-o-transform-origin: 50% 50% 0;
			transform-origin: 50% 50% 0;
			background-attachment: fixed;
    /*background: #8f8d05;*/
    margin: 0;
    padding: 0;
}
.red{
	color: #ff0000;
}
.form-control-feedback{
	right: 10px;
}
img {
	width: 100%;
}
.karkaswrapper {
    max-width: 960px;
    min-width: 600px;
    margin: 10px auto;
}
.karkas {
    display: block;
    background: #fefefe;
    padding: 15px 15px;
    
}
    .header {
        height: auto;
        width: auto;
        display: block;
        background: #2C2C2C;
        overflow: hidden;
}
        .logo {
            display: block;
            float: left;
            margin: 10px 0px;
            padding: 10px 10px;
}            
        .page_name{
            padding-top: 3%;
            font-family: "Arial",serif;
            font-weight: inherit;
            color: white;
            font-size: 20px;
            line-height: 20px; 
            text-align:  center;
        }
        .pass_form{
            
            font-family: "Arial",serif;
            font-weight: inherit;
            color: white;
            font-size: 10px;
            line-height: 10px; 
            text-align:  left;
            font-weight: bold;
            padding: 10px 10px;
            margin: 10px 10px;
            /*border: 1px solid #958296;*/
        }
        
    .menu_wrapper{
        width: 100%;
        border-top: 2px solid #d8d8d8;
        padding: 1px 0 2px 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f0f0f+0,7c7c7c+100 */
        background: rgb(15,15,15); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(15,15,15,1) 0%, rgba(124,124,124,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(15,15,15,1) 0%,rgba(124,124,124,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(15,15,15,1) 0%,rgba(124,124,124,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0f', endColorstr='#7c7c7c',GradientType=0 ); /* IE6-9 */

        }
        .menu-main {
            margin: 0 auto;
            overflow: hidden;
        }
        ul {
            list-style: none;
            margin: 0;
        }
        .menu {
            padding-left: 0;
            float: left;
            font-size: 15px;
            font-weight: bold;
        }
        .menu li {
            float: left;
        }
        .menu li a {
            color: #fefefe;
            padding: 7px 15px;
            display: block;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
            color: #837385;
        }
        
    .content{
        height: auto;
        width: auto;
        display: block;
        overflow: hidden;
        padding: 20px 0px;
}
    .footer {
        height: auto;
        width: auto;
        display: block;
        background: #2C2C2C;
        overflow: hidden;
        font-family: "Arial",serif;
        font-weight: inherit;
        color: white;
        font-size: 12px;
        line-height: 16px; 
        text-align:  left;
        padding: 10px 0px 0px 0px;
}
.png {
    background-repeat: no-repeat;
    height: 50px;
    margin-bottom: 30px;
}
.scity{
    visibility: hidden;
}
.typeM{
    margin-top: 0px;
}
.pogoda {
    
    border: 2px solid red;
}
#img-captcha{
    width: 200px;
}
.tablbd{
    border-bottom: 1px solid red;
}
.panel-info {
    border-color: red;
}
.panel {
    margin-bottom: 20px;
    background-color: #FFF;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}
